.key {
  border: 1px solid black;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 4em;

  &.white {
    &.pressed {
      background-color: gray;
    }
    background-color: white;
    box-shadow: 2px 2px 2px black;
    height: 13em;
  }

  &.black {
    &.pressed {
      background-color: gray;
    }
    background-color: black;
    border-color: white;
    border-top-color: black;

    box-shadow: 2px 2px 2px black;
    color: white;
    height: 7.6em;
    position: absolute;
    z-index: 1;

    &.Csharp3 {
      left: 2em;
    }

    &.Dsharp3 {
      left: 6em;
    }

    &.Fsharp3 {
      left: 14em;
    }

    &.Gsharp3 {
      left: 18em;
    }

    &.Asharp3 {
      left: 22em;
    }

    &.Csharp4 {
      left: 30em;
    }

    &.Dsharp4 {
      left: 34em;
    }

    &.Fsharp4 {
      left: 42em;
    }

    &.Gsharp4 {
      left: 46em;
    }

    &.Asharp4 {
      left: 50em;
    }
  }
}
