.key {
  border: 1px solid black;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 3em;
  user-select: none;

  &.white {
    &.pressed {
      background-color: gray;
    }
    background-color: white;
    box-shadow: 2px 2px 2px black;
    height: 12em;
  }

  &.black {
    &.pressed {
      background-color: gray;
    }
    background-color: black;
    border-color: white;
    border-top-color: black;

    box-shadow: 2px 2px 2px black;
    color: white;
    height: 7.2em;
    position: absolute;
    z-index: 1;

    &.Csharp3 {
      left: 1.5em;
    }

    &.Dsharp3 {
      left: 4.5em;
    }

    &.Fsharp3 {
      left: 10.5em;
    }

    &.Gsharp3 {
      left: 13.5em;
    }

    &.Asharp3 {
      left: 16.5em;
    }

    &.Csharp4 {
      left: 22.5em;
    }

    &.Dsharp4 {
      left: 25.5em;
    }

    &.Fsharp4 {
      left: 31.5em;
    }

    &.Gsharp4 {
      left: 34.5em;
    }

    &.Asharp4 {
      left: 37.5em;
    }
  }
}
