@use '../../../styles/__mixin_column.module' as *;
@use '../../../styles/__mixin_disable_user_select.module' as *;

#desktop_view {
    @include column;
    @include disable-user-select;
    height: 100vh;
    justify-content: flex-start;
    padding: 40px;
}

#config_section {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#controls_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#keyboard_section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.column {
    @include column;

    &#lfo_controls_column {
        flex-direction: row;
    }
}