main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px;
}

#controls_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#keyboard_section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &#lfo_controls_column {
        flex-direction: row;
    }
}